<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">
          <a href="#" class="d-flex justify-content-center b-brand">
            <i class="ti ti-snowflake icon-large"></i>
            <span class="ms-2">ICE-BREAKER</span>
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>Hi, Welcome Back</b></h2>
                <p class="fs-4 mt-2">Enter your credentials to continue</p>
              </div>
            </div>
          </div>
          <div class="d-grid">
            <button id="googleSignInBtn" type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
              <img src="assets/images/authentication/google-icon.svg" alt="google" />
              Sign In With Google
            </button>
          </div>
          <div class="saprator mt-3">
            <span>I.C.E.B.R.E.A.K.E.R</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
