<div class="m-header">
  <a [routerLink]="['/dashboard/']" class="b-brand">
    <img src="assets/images/logo.png" alt="" class="logo logo-lg" style="width: 175px; max-height: 90px;">
    <!-- <i class="ti ti-snowflake icon-large logo-icon"></i> 
    <span class="logo-text">ICE-BREAKER</span> -->
  </a>
  <div class="pc-h-item">
    <a
      href="javascript:"
      class="pc-head-link head-link-secondary m-0 mobile-menu"
      [ngClass]="{ on: navCollapsed }"
      id="sidebar-hide mobile-collapse"
      (click)="navCollapse()"
    >
      <i class="ti ti-menu-2"></i>
    </a>
  </div>
</div>
<!-- [ Header ] end -->
